API_URL=
AUTH0_AUDIENCE=
AUTH0_CLIENT_ID=
AUTH0_DOMAIN=
AUTH0_SCOPE=
AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION=
AWS_SECRET_ACCESS_KEY=
CLIENT_SECRET=
ENV=
FLASK_APP=
FLASK_DEBUG=
FLASK_ENV=
MYSQL_DB_DATABASE=
MYSQL_DB_HOST=
MYSQL_DB_PASSWORD=
MYSQL_DB_USER=
PACER_API_URL=
PACER_CLIENTCODE=
PACER_CSO_LOGIN_URL=

PACER_PASSWORD=
PACER_USERNAME=
PMA_HOST=
REDIS_DB_HOST=
STRIPE_API_KEY=
STRIPE_DOMAIN=
STRIPE_RETURN_URL=
STRIPE_WEBHOOK_SECRET=
UPLOAD_LIMIT=
AUTH0_M2M_CLIENT_ID=
AUTH0_M2M_CLIENT_SECRET=
AUTH0_M2M_AUDIENCE=

S247_LICENSE_KEY=
APM_APP_NAME=
APM_APP_PORT=
LOG_SOURCE_TOKEN=

#THESE are DEPRACATED and need to be removed#es
STRIPE_BASIC_PRICE_ID=
STRIPE_BASIC_PRICE_ID_YEARLY=
STRIPE_PRO_PRICE_ID=
STRIPE_PRO_PRICE_ID_YEARLY=
STRIPE_MVP_PRICE_ID=
STRIPE_MVP_PRICE_ID_YEARLY=
###########################################